body {
  text-align: center;
  background-color: rgb(247, 237, 225);
}

img {
  border: 1px solid black;
  border-radius: 10px;
}

.navigation {
  margin-top: 50px;
}

.mail {
  text-decoration: none;
  color: sienna;
}

.nav-link {
  background-color: rgb(243, 196, 134);
  font-weight: bold;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;
}
